.Height{
    padding: 35px;
    height: 500px;
    width: 320px;
    margin-left: 880px;
    margin-top: 15px;
    
   
}

.message{
    text-align: left;
    padding: 10px;
    margin: 0;
    background-color:#1877f2;
    color: white;
    margin-top: 5px;
    font-family: initial;
   
}

.quote{
    text-align: left;
    padding: 14px;
    margin: 0;
    background-color:#1877f2;
    color: white;
    font-family: cursive;
}


.user{
    
    background: whitesmoke;
   
}

.pass{
    background: whitesmoke;
   
}


.id{
color: white;
margin: 2px;

   
}
.id2{
    color: white;
    margin: 14px;
}

.sub{
    height: 60px;
   
}

.id4{
    margin: 32px;
}